@model Hotel_Room_Booking.Models.CustomerModel

@{
    ViewData["Title"] = "Create";
}


<section class="title-template">
    <h1 class="title">Book Now</h1>
    <form asp-action="Create" class="contact-form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-field">
                <input type="hidden" asp-for="HotelId" class ="form-control" value="2"></input>
            </div>
        <div class="form-field">
                <label asp-for="Rooms" class="control-label"></label>
            <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
        <div class="form-field">
                <label asp-for="CheckIn" class="control-label"></label>
            <input asp-for="CheckIn" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
        <div class="form-field">
                <label asp-for="CheckOut" class="control-label"></label>
            <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
        <div class="form-field">
            <input type="hidden" asp-for="Rating" class="form-control"  value="empty" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        <div class="form-field">
            <input asp-for="Comments" class="form-control" type="hidden" value="empty" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
        <div class="d-flex justify-content-between">
            <a class="btn btn-secondary" asp-controller="HotelModels" asp-action="Index">Back to List</a>
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
</section>

<div>
    
</div>


<script>
    $(function () {
        // Get the CheckIn and CheckOut input fields
        var checkInInput = $('input#CheckIn');
        var checkOutInput = $('input#CheckOut');

        // Set the minimum selectable date of CheckOut to be the same as CheckIn
        checkOutInput.prop('min', checkInInput.val());

        // Attach an event handler to the CheckIn input field
        checkInInput.change(function () {
            // Update the minimum selectable date of CheckOut to be the same as CheckIn
            checkOutInput.prop('min', checkInInput.val());
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
