@model Hotel_Room_Booking.Models.CustomerModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CustomerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="HotelId" class ="form-control" value="2"></input>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Rating" class="form-control" value="empty" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Comments" class="form-control" type="hidden" value="empty" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(function () {
        // Get the CheckIn and CheckOut input fields
        var checkInInput = $('input#CheckIn');
        var checkOutInput = $('input#CheckOut');

        // Set the minimum selectable date of CheckOut to be the same as CheckIn
        checkOutInput.prop('min', checkInInput.val());

        // Attach an event handler to the CheckIn input field
        checkInInput.change(function () {
            // Update the minimum selectable date of CheckOut to be the same as CheckIn
            checkOutInput.prop('min', checkInInput.val());
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
