<div class="d-flex justify-content-center align-items-center vh-100" style="background-image: url('https://www.example.com/background-image.jpg'); background-size: cover; margin-top: -100px;">
    <div class="text-center">
        <h1 class="display-4 text-light">You Haven't Booked Any Rooms Yet</h1>
        <p class="lead text-light mb-5">Don't Worry Lets Get Started</p>
        <a class="btn btn-primary btn-lg" asp-controller="HotelModels" asp-action="Index">Explore</a>
    </div>
</div>