
@{
	int emptyCount = 0;
	bool noReviews = false;
	foreach(var item in ViewBag.reviews)
	{
		if (item.Reviews == "empty")
		{
			emptyCount++;
		}
	}
		if(emptyCount == ViewBag.reviews.Count)
		{
			noReviews = true;
		}
}
<a class="btn btn-secondary" asp-controller="HotelModels" asp-action="Details" asp-route-id="@ViewBag.hotelId" style="position:absolute;margin-right:200px;">Back</a>

@if (noReviews)
{
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-center m-auto">
				<div id="myCarousel" class="carousel slide">
					
							<div class="carousel-inner">
								<div class="item carousel-item active">
									<p class="testimonial">No Reviews Found !</p>
								</div>
				
							</div>

				</div>
			</div>
		</div>
	</div>
}
else
{
    <div class="container">
	<div class="row">
		<div class="col-md-8 col-center m-auto">
			<div id="myCarousel" class="carousel slide">
				<!-- Carousel -->
                 @foreach (var item in ViewBag.reviews)
				{
						@if (item.Reviews != "empty")
						{
							<div class="carousel-inner">
								<div class="item carousel-item active">
									@for (int i = 0; i < item.Ratings; i++)
									{
										<i class="fa-solid fa-star" style="color: #fae505;"></i>
									}
									<p class="testimonial">@item.Reviews</p>
									<p class="overview"><b>@item.UserEmail</b></p>
								</div>
							</div>

							<hr />
						}
                }
			</div>
		</div>
	</div>
	</div>
}